[Application]
FileLogger\Enabled=false

[AutoRun]
enabled=true
program={{ qbittorrent_nox_content_path }}/flexget_api.sh

[BitTorrent]
Session\DefaultSavePath={{ qbittorrent_nox_content_path }}/torrent/done
Session\GlobalDLSpeedLimit=921600
Session\GlobalMaxSeedingMinutes={{ qbittorrent_nox_qbt_seed_days * 24 * 60 }}
Session\GlobalUPSpeedLimit=921600
Session\MaxActiveDownloads=1
Session\MaxActiveTorrents=15
Session\MaxActiveUploads=15
Session\MaxConnections=1000
Session\MaxConnectionsPerTorrent=-1
Session\MaxRatioAction=3
Session\MaxUploads=-1
Session\MaxUploadsPerTorrent=-1
Session\Port={{ qbittorrent_nox_qbt_port }}
Session\QueueingSystemEnabled=true
Session\TempPath={{ qbittorrent_nox_content_path }}/torrent/temp
Session\TempPathEnabled=true
Session\TorrentContentLayout=Subfolder

[LegalNotice]
Accepted=true

[Network]
PortForwardingEnabled=false

[Preferences]
General\Locale=sv_SE
WebUI\LocalHostAuth=false

[RSS]
AutoDownloader\DownloadRepacks=false
